.card-lavel {
    clip-path: polygon(9% 0, 90% 3%, 100% 94%, 0 100%);
    top: -20px;
}

.card-btn:hover {
    background-color: #ff4838;
    color: white;
    transition: all .3s;
}

.card-btn:hover .cardIcon {
    margin-left: 5px;
}

.red-color {
    color: #ff4838;
}